
<%= link_to "新規投稿へ", team6s_new_path %>
<div class="team6s-container">
  <% @shindans.each do |t| %>
    <div class="shindan">
      <%= t.japanese %>
      <%= t.math %>
      <%= t.english %>
      <%= t.science %>
      <%= t.society %>
      <%= t.interview %>
      <%= t.gd %>
      <%= t.created_at %>
      
    </div>
  <% end %>
</div>

<%= link_to "新規投稿へ", team6s_new_path %>