<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>診断フォーム</title>
</head>
<body>
  <header id="top">
    <div class="header_content wrapper">
      <p>アプリ名</p>
<nav>
      <ul>
        <li class="current"><a href="index.html.erb">home</a></li>
        <li><a href="#">comment</a></li>
        <li><a href="#">出願方法</a></li>
      </ul>
      </nav>
      </div>
  </header>
  <main>
          <%= image_tag "https://www.figma.com/file/qtcivjET2KyV8qIB1ewPhz/test_page?type=design&node-id=10-26&mode=design&t=LsgSO2H2zAFnC3IX-4" %>
    <section class="message">
      <p>得点のバランスから君に合う受験方式を算出！</p>
      <p>受験方式で、合格率が変わるかも？</p>
      <h1>アプリ名</h1>
      <%= link_to 'すぐに診断！', anchor: '#jump' %>
    </section>
    <section>
      <h2>1.最も合格しやすい出願方法が知れる</h2>
      <p>3科目受験だと…100点のAが合格!？</p>
      <p>自分に合った出願方法を知ることが大切</p>
<table class="score">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">A</th>
      <th scope="col">B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">国語</th>
      <td>100</td>
      <td>30</td>
    </tr>
    <tr>
      <th scope="row">数学</th>
      <td>0</td>
      <td>30</td>
    </tr>
        <tr>
      <th scope="row">英語</th>
      <td>0</td>
      <td>30</td>
    </tr>    <tr>
      <th scope="row">理科</th>
      <td>0</td>
      <td>30</td>
    </tr>    <tr>
      <th scope="row">社会</th>
      <td>0</td>
      <td>30</td>
    </tr>
    <tr>
      <th scope="row">3科目合計</th>
      <td class="red">100</td>
      <td>90</td>
    </tr>
        <tr>
      <th scope="row">5科目合計</th>
      <td>100</td>
      <td class="red">150</td>
    </tr>
  </tbody>
</table>
      <%# <ol>
        <li>5教科（国語・数学・英語・理科・社会）の得点をボックスの中に入力しよう。</li>
        <li>3要素（小論文・面接・GD）の得点をボックスの中に入力しよう。</li>
        <li>送信ボタンを入力しよう。</li>
      </ol>
      <p></p> %>
    </section>
    <section>
        <h2 id="#jump">早速診断してみよう！</h2>
        <div class="form">
          <form action="#">
            <h3>国語</h3>
            <h3>数学</h3>
            <h3>英語</h3>
            <h3>理科</h3>
            <h3>社会</h3>
            <h3>小論文</h3>
            <h3>面接</h3>
            <h3>GD</h3>
      <%= link_to 'type1', team6s_type1_path %>
      <%= link_to 'type2', team6s_type2_path %>
      <%= link_to 'type3', team6s_type3_path %>
      <%= link_to 'type4', team6s_type4_path %>
      <%= link_to 'type5', team6s_type5_path %>
            </form>
        </div>
    </section>
  </main>
  <footer>
    <ul>
        <li><a href="index.html.erb">home</a></li>
        <li><a href="#">comment</a></li>
        <li><a href="">出願方法</a></li>
    </ul>
    <p>アプリ名</p>
    <p><small>&copy;2023.team6</small></p>
  </footer>
</body>
</html>
<%= link_to "新規投稿へ", team6s_new_path %>
<div class="team6s-container">
  <% @shindans.each do |t| %>
    <div class="shindan">
      <%= t.japanese %>
      <%= t.math %>
      <%= t.english %>
      <%= t.science %>
      <%= t.society %>
      <%= t.interview %>
      <%= t.gd %>
      <%= t.created_at %>
      
    </div>
  <% end %>
</div>

<%= link_to '新規', team6s_new_path %>
<%= link_to 'type1', team6s_type1_path %>
<%= link_to 'type2', team6s_type2_path %>
<%= link_to 'type3', team6s_type3_path %>
<%= link_to 'type4', team6s_type4_path %>
<%= link_to 'type5', team6s_type5_path %>
