<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>診断フォーム</title>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
</head>
<body>
  <main>
    <section class="message">
      <h1>合格プロファイル</h1>
      <p class="toumei">得点のバランスから君に合う受験方式を算出！
      <br>受験方式で、合格率が変わるかも？</p>
      <%= link_to 'すぐに診断！', anchor: '#jump' %>
    </section>
    <section class="sec1">
      <h2>1.最も合格しやすい出願方法が知れる</h2>
      <div class="container">
        <div class="item">
          <p>5科目合計の高いBが合格？</p>
        </div>
      <div class="item4">
      <%= image_tag "graph.png"%>
      </div>
      <div class="item5">
      <%= image_tag "graph2.png" %>
      </div>
      <div class="item">実は…<br>3科目受験だとAが合格！
      </div>
    </div>
    </section>
    <section>
      <h2 id="#jump">早速診断してみよう！</h2>
      <div class="form">
        <%= form_for @shindan do |f| %>
          <div class="field">
            <h3>国語<%= f.number_field :japanese, min:0, max:100, required: true %></h3>
            <h3>数学<%= f.number_field :math, min:0, max:100, required: true  %></h3>
            <h3>英語<%= f.number_field :english, min:0, max:100, required: true %></h3>
            <h3>理科<%= f.number_field :science, min:0, max:100, required: true %></h3>
            <h3>社会<%= f.number_field :society, min:0, max:100,required: true %></h3>
            <h3>小論文<%= f.number_field :essay, min:0, max:10,required: true %></h3>
            <h3>面接<%= f.number_field :interview, min:0, max:10,required: true %></h3>
            <h3>GD <%= f.number_field :gd, min:0, max:10,required: true %></h3>
          </div>
        <%= f.submit "送信する" %>
        <% end %>
        </form>
      </div>
    </section>
    <section class="sec2">
      <h2>2.他者比較ではなく自分自身の得点で評価</h2>
    <div class="container">
      <div class="item">過去のユーザーからも高評価の声が届いています！</div>
      <div class="item1"></div>
      <div class="item2"></div>
      <div class="item">ライバルとの比較ではなく、自分の成績で評価してもらえるので、私の強みがはっきりしました！</div>
      <div class="item">保護者の方へ,<br>詳しい出願方法はこちら</div>
      <div class="item3"></div>
    </div>
    </section>
  </main>

</html>
