<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>診断結果</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/type1.scss">
<body>
<div class="image-block">
  <p class="toumei">あなたの結果はこれだ！
  <br>Ⅱ型 総合探究</p>

</div>

<div class="info-text" >
  <p>
  得意な教科が３つあるあなたは、<br>
  総合探求プログラムが向いています！<br>
  </p>
            国語<%= @j %>
          数学<%= @m %>
          英語<%= @e %>
          理科<%= @sc %>
          社会<%= @so %>
          ３教科平均<%=  @scoreTop3 %>
  
  <br>
  <%= image_tag "event2", class: "event-image" %>  
  <br>
  <%= link_to "過去の先輩を見てみる", :controller => "team6s", :action => "index" %>
  <%= link_to "出願手続きマニュアル", :controller => "team6s", :action => "index" %>
</div>
</body>
</html>

